header,footer{
  height: 10vh;
  width: 100%;
}

main {
  height: 80vh;
  max-height: 80vh;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(33,37,41);
}

table{
  border: 1px solid;
  border-color: black !important;
}

tbody > tr > td:last-child{
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

tbody, td, th, tr {
  border: 0 solid;
  border-color: black;
}

.title{
  padding: 1rem 0;
}
